<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id: web.xml 1 2011-10-21 09:33:25Z brj $ -->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


  <display-name>dk.statsbiblioteket.doms.licensemodule</display-name>
    
     <listener>
      <listener-class>dk.statsbiblioteket.doms.licensemodule.listeners.InitializationContextListener</listener-class>
   </listener>
  
  <welcome-file-list>
    <welcome-file>configuration.jsp</welcome-file>
  </welcome-file-list>


  <servlet>
    <servlet-name>Licensemodule Service</servlet-name>
    <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>dk.statsbiblioteket.doms.licensemodule.service.LicenseModuleApplication</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Licensemodule Service</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>


 
  <servlet>
    <servlet-name>createLicenseServlet</servlet-name>
    <servlet-class>dk.statsbiblioteket.doms.licensemodule.servlets.CreateLicenseServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>createLicenseServlet</servlet-name>
    <url-pattern>/createLicenseServlet</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>configurationServlet</servlet-name>
    <servlet-class>dk.statsbiblioteket.doms.licensemodule.servlets.ConfigurationServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>configurationServlet</servlet-name>
    <url-pattern>/configurationServlet</url-pattern>
  </servlet-mapping>

</web-app>
